name: main
on:
  push:
    branches:
    - main

env:
  GO_VERSION: 1.25.6

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: test
        run: |
          make all

