name: pr
on:
  pull_request:
    branches:
    - main

env:
  GO_VERSION: 1.25.6

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: test
        run: |
          set -o pipefail
          echo '```' > results.comment
          echo "$ make" >> results.comment
          make 2>&1 | tee -a results.comment

      - name: close
        if: success() || failure()
        run: |
          echo '```' >> results.comment
          
      - name: results
        if: success() || failure()
        uses: thollander/actions-comment-pull-request@v2
        with:
          comment_tag: results
          filePath: results.comment

